<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>MENU DE OPCIONES</title>
</head>
<body>
    <H1>MENU DE OPCIONES</H1>
    <table class="table-form">
        <tr>
            <td>
                <a href="{{ url_for('inscripciones') }}"><button>INSCRIPCION EN CURSO</button></a>
            </td>
            <td>
                <a href="{{ url_for('registrousuarios') }}"><button>REGISTRO DE USUARIOS</button></a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="{{ url_for('registroproductos') }}"><button>REGISTRO DE PRODUCTOS</button></a>
            </td>
            <td>
                <a href="{{ url_for('registrolibros') }}"><button>REGISTRO DE LIBROS</button></a>
            </td>
        </tr>
    </table>
</body>
</html>